@using Epam.Achievement.Ioc;
@using Epam.Achievement.BLL.Interface;
@using Epam.Achievement.Entities;
@using System.Threading;
@{
    Layout = "BasePages/_tableView.cshtml";

    IAwardLogic _awardLogic = DependenciesResolver.AwardLogic;
    var awards = _awardLogic.GetAll();

    Page.Index = "AwardsTable";
    Page.Action = Request["Action"] ?? "Added";

    string message = null;

    if (IsPost)
    {
        //Update
        if (Int32.TryParse(Request["IdVariable"], out int IdVariableAwsard))
        {
            var awardChange = _awardLogic.GetById(IdVariableAwsard);
            bool flag = false;
            var avatar = WebImage.GetImageFromRequest();
            byte[] img = avatar?.GetBytes() ?? null;


            if (!Request["ChangeTitle"].IsEmpty())
            {
                awardChange.Title = Request["ChangeTitle"];
                flag = true;
            }
            if (img != null)
            {
                awardChange.Image = img;
                flag = true;
            }

            if (flag)
            {
                _awardLogic.Update(awardChange);
                Response.Redirect($"/Pages/Awards.cshtml?AwardId={awardChange.Id}&Action=Update");
                return;
            }


            Response.Redirect($"/Pages/Awards.cshtml?AwardId={awardChange.Id}&Action=ErrorUpdate");
        }

        //Added
        if (!Request["Title"].IsEmpty())
        {
            var avatar = WebImage.GetImageFromRequest();
            byte[] img = null;

            int AwardId;
            if (avatar != null)
            {
                img = avatar.GetBytes();
            }

            AwardId = _awardLogic.Add(new Award
            {
                Title = Request["Title"],
                Image = img
            });
            Response.Redirect($"/Pages/Awards.cshtml?AwardId={AwardId}");

            
        }
        else
        {
            Response.Redirect($"/Pages/Awards.cshtml?Action=ErrorAdd");
        }
    }
}
<!DOCTYPE html>

@section AwardsTable {

    @if (Int32.TryParse(Request["AwardId"], out int id))
    {
        var award = _awardLogic.GetById(id);
        message = $"Award: {award.Id} {award.Title} {Page.Action}";
    }

    @if (message != null)
    {
        <div>@message</div>
    }
    <a class="btn btn-primary" href="~/Pages/Add/AddAward.cshtml">Create</a>
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>

        </tr>
        @if (awards != null)
        {
            foreach (var item in awards)
            {
                <tr>
                    <td>@item.Id</td>
                    @if (item.Image != null)
                    {
                        <td><img style='width:60px; height:60px;' src="data:image;base64,@System.Convert.ToBase64String(item.Image)" alt="..." class="img-thumbnail">@item.Title</td>
                    }
                    else
                    {
                        <td><img style='width:60px; height:60px;' src="~/Image/Billy.png" alt="..." class="img-thumbnail">@item.Title</td>
                    }
                    <td><a class="Edit btn" href="~/Pages/EditAward.cshtml?Id=@item.Id">Edit</a></td>
                    <td><a name="btnD" id="Delete-@item.Id" class="btn" href="#">Delete</a></td>
                </tr>
            }
        }
    </thead>
}