@using Epam.Achievement.Entities;
@using Epam.Achievement.Ioc;
@using Epam.Achievement.BLL.Interface;
@{
    Layout = "BasePages/_formActionView.cshtml";
    Page.Index = "AwardEdit";
    Page.Redirect = "Awards.cshtml";

    var _awardLogic = DependenciesResolver.AwardLogic;

    int.TryParse(Request["Id"], out int id);
    var Award = _awardLogic.GetById(id);
}

@section AwardEdit
    {
    <div class="form-group">
        <label for="AwardId">AwardId</label>
        <input name ="IdVariable" class="form-control" type="text" value="@Award.Id" readonly>
    </div>
    <div class="form-group">
        <label for="AwardTitle">@Award.Title</label>
        <input name="ChangeTitle" class="form-control" type="text" placeholder="New title">
    </div>

    @* Todo pick *@
    <div class="form-group">
        <label for="PickImg">Choose picture</label>
        <input type="file" class="form-control-file" id="PickImg">
    </div>
}

