@using Epam.Achievement.Entities;
@using Epam.Achievement.Ioc;
@using Epam.Achievement.BLL.Interface;
@{
    Layout = "BasePages/_formActionView.cshtml";

    Page.Index = "ClientAwardsEditClient";
    var _clientAward = DependenciesResolver.ClientAwaradLogic;
    int.TryParse(Request["Id"], out int id);
    var Award = _clientAward.GetById(id);

}

@section ClientAwardsEditClient
    {

    <div class="form-group">
        <label for="IdRelationship">IdRelationship</label>
        <input class="form-control" type="text" placeholder="@Award.Id" readonly>
    </div>

    <div class="form-group">
        <div for="">Enter new id Client</div>
        <input type="text" class="form-control" id="IdClient" placeholder="Enter new id Client">
    </div>
}

