@using Epam.Achievement.Ioc;
@using Epam.Achievement.BLL.Interface;
@{
    IClientAwardLogic _clientAwardLogic = DependenciesResolver.ClientAwaradLogic;
}
<a class="Back btn" href="~/Pages/ClientAwards.cshtml">Back</a>
@{
    int.TryParse(Request["Id"], out int id);

    var clientaward = _clientAwardLogic.Delete(id);

    <div>Relationship removed</div> 
}