@using Epam.Achievement.Ioc;
@using Epam.Achievement.BLL.Interface;
@{
    IClientAwardLogic _clientAwardLogic = DependenciesResolver.ClientAwaradLogic;
    IClientLogic _client = DependenciesResolver.ClientLogic;
}
<a class="Back btn" href="~/Pages/Clients.cshtml">Back</a>

@{
    int.TryParse(Request["ClientId"], out int id);

    var client = _client.Delete(id);

    //Костыль, последствия поосле М М с файлами ...

    <div>The client has been removed and all his rewards: /</div>
}