@{
    Layout = "../BasePages/_addEntities.cshtml";
    Page.Index = "AddAward";
    Page.Redirect = "Awards.cshtml";
}

@section AddAward
    {
    <div class="form-group">
        <label for="AwardTitel">Award Id</label>
        <input name="Title" class="form-control" type="text" placeholder="Enter award title">
    </div>

    @* Todo pick *@
    <div class="form-group">
        <label for="PickImg">Choose picture</label>
        <input class="form-control-file" type="file" name="Avatar" id="avatar-input" value="" accept="image/*" enctype="multipart/form-data" />
    </div>
}