@{
    Layout = "../BasePages/_addEntities.cshtml";
    Page.Index = "AddAward";
    Page.Redirect = "Awards.cshtml";
}

@section AddAward
    {
    <div class="form-group">
        <label for="AwardTitel">Award Id</label>
        <input name="Title" class="form-control" type="text" placeholder="Enter award title">
    </div>

    @* Todo pick *@
    <div class="form-group">
        <label for="PickImg">Choose picture</label>
        <input type="file" class="form-control-file" id="PickImg">
    </div>
}