@{
    Layout = "../BasePages/_addEntities.cshtml";
    Page.Index = "AddClientAward";
    Page.Redirect = "ClientAwards.cshtml";
}

}

@section AddClientAward
    {
    <div class="form-group">
        <label for="ClientId">ClientId</label>
        <input name ="ClientID" class="form-control" type="text" placeholder="Enter Client Id">
    </div>
    <div class="form-group">
        <label for="AwardId">Award Id</label>
        <input name ="AwardID" class="form-control" type="text" placeholder="Enter award id">
    </div>
}