* {
	box-sizing:border-box;
}

body {
	width:100%;
	height: 100%;
	font-size:14px;
    line-height: 1.42;
    background: #4e6379;
    margin:0;
    padding:0;
}

ul {
	padding:0;
	margin:0;
}
ul li {
	list-style: none;
}

a {
	text-decoration:none;
}
.wrapper {
    width:100%;
	height: 180px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center ;

}
.container {
    width: 500px;
    height: 145px;
    background: #FFF;
    margin-top:10px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    border: 1px solid  #9ca7b3;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5); /* Параметры тени */
}

.price {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.price__list {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.price__list__item {
    position: relative;
    width: 33%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    text-align: center;

}
.price__list__item-icon {
    width: 55px;
    height: 40px;
    display: flex;
    align-items:center;
}
.item-icon {
    width: 100%;
    height: 100%;
}
.price__list__item-text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    padding:5px 0 0 0;
}
.price__list__item-value {
    width: 100%;
    height: 100%;
    font-size:12px;
    display: flex;
    align-items:center;
    justify-content: center;
    padding:8px 0 5px 0;
}
.price__list-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
.item-text {
    font-weight: bold;
    font-size:15px;
    color: #f56332;
}
.item-link {
    width: 70px;
    height: 20px;
    background-color:#f56332;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items:center;
}

.item-link-text {
    color:#FFF;
    font-size:12px;
}
.line_rigth::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    width: 1px; 
    height: 100%;
    background-color:#e6e6e6;
    right: 0;
}
.line_left::before {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    width: 1px; 
    height: 100%;
    background-color:#e6e6e6;
    left: 2px;
}